<h1>Products</h1>
<hr>
<br>
<a href="/logout">Logout</a>
<br>
<h3>Bienvenido/a {{user.name}}</h3>                           
<h5>Email: {{user.email}} </h5>
<a href="/realTimeProducts">Crear producto</a><br>



<br>
<ul>
    {{#each products}}
        <li id=""><h4><strong>{{this.title}}</strong></h4> </li>
        <li ><img src={{this.thumbnail}} alt={{this.title}}></li>
        <li><strong>Price:</strong> ${{this.price}}</li>
        <li><strong>Description: </strong>{{this.description}}</li><br><br>
        <button  onclick="handleAddToCartClick('{{this._id}}')">Agregar al carrito</button><br><br><hr>
    {{/each}}
    <p>TOTAL PAGE:  {{totalPages}}</p>
</ul>
<hr>

<br>
<br>



{{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}">Ant.</a>
{{/if}}

{{#if hasNextPage}}
    <a href="/products?page={{nextPage}}">Sig.</a>
{{/if}}

<script src="js/products.js"></script>